# Local Settings
settings_local.py
apache/python.wsgi
templates/robots.txt

# Application, OS, and backup files
*~
*.pyc
._*
.DS_Store
Thumbs.db
.svn
logs/*.log*

# Static Files
static/*

# Uploads
media/*
