{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | Campus Map Admin{% endblock %}

{% block branding %}
<h1 id="site-name">Campus Map</h1>
<a href="{% url home %}">view map</a>
{% endblock %}

{% block nav-global %}{% endblock %}


{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}style/admin.css" media="all">
{% endblock %}


{% block footer %}
<div id="footer">
	{% if user.is_superuser %}
	Download Data: <a href="{% url dump_data %}UCF Campus Map {%now "Y-m-d" %}.json">Campus Map Data {% now "Y-m-d" %}.json</a>
	{% endif %}
</div>

{# lousy way of forcing admin users to not enter password plain text #}
<script>
	input = document.getElementById('id_password');
	if(input){
		input.setAttribute('readonly', 'readonly');
		input.style.color = "#999";
	}
	
</script>

{% endblock %}