/******************************************************************************\
    General Styles
\******************************************************************************/
html, body { background:white url(img/gradient.png) repeat-x; }

a { color:#990000; }
a:hover { cursor:pointer; color:#C30202; }

h1 { font-family:georgia, serif; }
h1 a {text-decoration:none; color:black; }
h1 a:hover { color:black; }
h2 { font-size:23px; color:#FF7700; font-family: "Arial Black", arial, sans-serif; margin:0 0 .5em; }
h3 { font-family: "Arial Black", arial, sans-serif; }
h3 a { text-decoration:none; }
h4 { font-family: "Trebuchet MS", sans-serif; }


/******************************************************************************\
    Layout
\******************************************************************************/
#wrap { width:950px; padding:18px 0 32px; margin:0 auto; clear:both; }

.col { padding-left:1em; }

header { width:950px; margin:0 auto; padding-bottom:1em; }
header h1 { font-weight:normal; border-bottom:1px dotted black; padding-bottom:10px; margin:20px 0 10px; font-size:28px; }
nav ol { list-style:none; margin:0; color:#6d6e71; padding:0;  }
nav ol li { display:inline-block; float:left; margin-right:10px; }
nav ol li:after { content:"\2022"; margin-left:5px; }
nav ol li.last:after{ content:""; margin-left:0; }
nav ol li a { font-family: Georgia, Times, serif; margin-right:5px; color:#333; font-size:16px; text-decoration: none; font-weight: normal; }
nav ol li a:hover {  color:#ed1c24;  text-decoration: underline; }




/******************************************************************************\
    Alt Media
\******************************************************************************/
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; } 
  a, a:visited { color: #444 !important; text-decoration: underline; } 
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }   
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}


@media handheld {
	* {
		float: none;       /* Screens are not big enough to account for floats */
		font-size: 80%;    /* Slightly reducing font size to reduce need to scroll */
		background: #fff;  /*  As much contrast as possible */
		color: #000;
	}
}