/******************************************************************************\
    General Styles
\******************************************************************************/

html {
  background: #3e3e3e;
}

body {
  background: white;
  min-width: 974px;
}

a {
  color: #0275d8;
}

a:hover {
  cursor: pointer;
  color: #014c8c;
}

a:active, a:focus {
  outline: 0;
  color: #014c8c;
}

h1 {
  font-family: "Adobe Caslon Pro", "Adobe Caslon", "Caslon Pro", caslon, georgia, serif;
}

h1 a {
  text-decoration: none;
  color: black;
  transition: color 0.2s linear;
}

#map h1 a {
  padding-left: 10px;
}

h2 {
  font-size: 23px;
  color: #000000;
  font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 5px 0 10px;
}

h3 {
  font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 a {
  text-decoration: none;
}

h4 {
  font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

label {
  padding: 3px;
}

label.disabled {
  color: #555;
}

label.disabled:hover {
  cursor: default;
  color: #555;
}

label:hover {
  cursor: pointer;
}

label:not([class]):hover {
  background: #ccc;
}

input[type="submit"] {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  font-size: 14px !important;
  padding: 5px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

input[type="text"] {
  font-size: 14px !important;
  padding: 5px;
  width: 20em;
}

.ie label.disabled:hover {
  background: none;
  border: 1px solid white;
}

.ie label input {
  margin: 0;
  width: 12px;
  vertical-align: middle;
}

input:active, input:focus {
  outline: 0;
}

code {
  font-weight: bold;
  color: #333;
}

code a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dotted #7DA4C2;
}

code a:hover {
  border-bottom: 1px solid #7DA4C2;
  color: #333;
}

ul li a {
  text-decoration: none;
  line-height: 1.5;
}

a.button {
  vertical-align: middle;
  text-decoration: none;
  color: #333;
  font-size: 12px;
  background: white;
  padding: 2px 4px;
  margin: 0 0 0 2px;
  border: 1px solid #aaa;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.smaller {
  font-size: 12px;
}

.light {
  font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.mono {
  color: #21759B;
  font-family: monospace;
}

.c {
  text-align: center;
}

.r {
  text-align: right;
}

li.r {
  padding-right: 10px;
}
/******************************************************************************\
    Layout
\******************************************************************************/

#wrap {
  width: 932px;
  padding: 18px 9px 36px;
  margin: 0 auto;
  clear: both;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.left {
  display: block;
  float: left;
  width: 50%;
  text-align: left;
}

.right {
  display: block;
  float: right;
  width: 50%;
  text-align: right;
}

.clear {
  clear: both;
  overflow: hidden;
  height: 0;
}

header {
  width: 932px;
  padding: 0 9px;
  margin: 0 auto;
  position: relative;
}

#map header {
  width: 100%;
  padding: 0;
}

#map header h1 {
  border: none;
  display: inline-block;
  margin: 20px 0 0 14px;
}

header h1 {
  font-weight: normal;
  border-bottom: 1px dotted black;
  padding-bottom: 10px;
  margin: 20px 0 10px;
  font-size: 28px;
  z-index: 3;
  position: relative;
}

nav ol {
  list-style: none;
  margin: 0;
  color: #6d6e71;
  padding: 0;
}

nav ol li {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

nav ol li:after {
  content: "\2022";
  margin-left: 5px;
}

nav ol li.last:after {
  content: "";
  margin-left: 0;
}

nav ol li a {
  font-family: Georgia, Times, serif;
  margin-right: 5px;
  color: #333;
  font-size: 16px;
  text-decoration: none;
  font-weight: normal;
}

nav ol li a:hover {
  text-decoration: underline;
}

#map {
  position: relative;
}

#map header {
  margin: 0;
  overflow: hidden;
  display: block;
  position: relative;
  min-width: 59px;
}

.ie #map * {
  zoom: 1;
}

footer {
  background: #3e3e3e;
  color: white;
  font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 60px 10px;
  text-align: center;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

footer .title {
  margin-bottom: 30px;
}

footer .title a {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

footer .title a:hover {
  text-decoration: underline;
}

footer .nav {
  margin-bottom: 30px;
}

footer .nav a {
  text-decoration: none;
  display: inline-block;
  padding: 0 10px;
}

footer .nav a:hover {
  text-decoration: underline;
}

footer .address {
  margin-bottom: 5px;
}

#error {
  position: absolute;
  top: 15px;
  width: 100%;
  text-align: center;
  z-index: 2;
}

#error p {
  display: inline-block;
  position: relative;
  padding: 10px;
  margin: 0 250px;
  border: 1px solid red;
  border-radius: 5px;
  background: #FFCED0;
}

#error-close {
  display: block;
  width: 19px;
  height: 19px;
  background: url('img/close.png');
  top: -7px;
  right: -8px;
  overflow: hidden;
  position: absolute;
  text-indent: -100px;
}
/******************************************************************************\
    Google Map
\******************************************************************************/

.gm-style {
  font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#canvas-wrap {
  border: 1px solid #aaa;
  margin: 10px;
  min-height: 300px;
}

#map-canvas {
  display: none;
}

/* Scrollbar added to the InfoWindow without this: http://stackoverflow.com/questions/14751558/google-maps-infowindow-vertical-scroll-appers-only-when-using-br */
.gm-style-iw div {
  overflow:visible !important;
}

#maptypes {
  margin-top: 0 !important;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #aaa;
  background: white;
}

#maptypes div {
  border: 0 !important;
}

#maptypes > div + div {
  border-left: 1px solid #aaa !important;
}

#maptypes > div {
  padding-top: 4px;
  padding-bottom: 4px;
}
/******************************************************************************\
    Organizations and Location
\******************************************************************************/

#locations h2 a {
  color: #000000;
  text-decoration: none;
}

#profile ul li {
  padding-bottom: 10px;
}

#profile ul.grey {
  color: #A0A0A0;
  padding-bottom: 6px;
}

#profile ul.grey li {
  padding: 0 10px 4px 0;
}

#profile p {
  line-height: 1.4;
}

#profile h2 {
  font-size: 28px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

#profile h2 .sub {
  padding-top: 4px;
  font-weight: 10px;
  color: #919191;
  font-size: 16px;
  line-height: 18px;
  text-transform: capitalize;
  letter-spacing: 0;
}

#profile h2 .sub span {
  color: #333;
  font-family: monospace;
  margin-right: 10px;
}

#profile h3 {
  margin: 5px 0 0;
}

#profile-image {
  padding-bottom: 15px;
}

#profile-copy {
  padding: 0 15px 15px 0;
}

#cwrap {
  background: url('img/spinner.gif') no-repeat center white;
  padding: 5px;
  position: relative;
  height: 300px;
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;
  border-radius: 5px;
}

.ie #cwrap {
  border: 1px solid #CCC;
}

#canvas {
  width: 100%;
  height: 300px;
}

#profile .org-info {
  display: none;
  color: #1F1F1F;
  margin: 5px;
  padding: 5px 5px 5px 15px;
  border-left: 1px solid #ccc;
}

#profile .open {
  display: block;
}

#profile .org-info ul {
  margin-bottom: 0;
}

#profile .loading {
  padding: 30px;
  background-image: url('img/spinner.gif');
  background-repeat: no-repeat;
  background-position: 50px 10px;
}


#jquery-lightbox h2 {
  font-size: 16px;
  line-height: 1.2;
  font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

#jquery-lightbox h2 a {
  text-decoration: none;
}

#jquery-lightbox p {
  font-weight: normal;
  font-size: 13px;
}

#lightbox-image-details {
  padding-bottom: 5px;
}

#map-go {
  text-align: right;
  padding: 5px 3px;
  font-size: 16px;
}

#group-locations {
  padding: 10px 5px 0;
}

.orgs {
  margin-top: 0;
}

.orgs li {
  padding: 2px 0;
}

.orgs li a {
  border-bottom-width: 0;
}

.orgs li a:hover {
  border-bottom-width: 1px;
}
/******************************************************************************\
    Search
\******************************************************************************/

#search {
  padding: 6px;
  background: black;
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  position: relative;
  width: 257px;
}

/* forcing a left of 0 because the maps api is adding 20px to this on mobile devices */
#search {
  left: 0 !important;
}


#search input {
  font-size: 15px;
  outline: 0;
  float: left;
  width: 216px;
  border: 0;
  padding: 3px 5px;
  margin: 0;
  line-height: 14px;
  font-family: Roboto, Arial, sans-serif;
}

#search input::-webkit-input-placeholder {
  padding-top: 2px;
}
#search input:-moz-placeholder { /* older Firefox*/
  padding-top: 2px;
}
#search input::-moz-placeholder { /* Firefox 19+ */
  padding-top: 2px;
}
#search input:-ms-input-placeholder {
  padding-top: 2px;
}

#search a {
  float: left;
  display: block;
  color: white;
  padding: 0 2px 0 6px;
}

#search a:hover {
  text-decoration: underline;
}

#search-results {
  background: black;
  left: 0;
  margin: 0;
  opacity: 0.8;
  padding: 8px;
  position: absolute;
  top: 34px;
  width: 253px;
}

#search-results li {
  margin: 0;
  list-style: none;
  height: auto;
}

#search-results li a {
  float: none;
  display: block;
  height: auto;
  background: none;
  padding: 3px 8px 3px 12px;
  text-decoration: none;
  border-bottom: 0;
  line-height: 1.1;
}

#search-results > li {
  padding: 3px 0;
}

#search-results li > ul {
  margin: 5px 0 10px 25px;
}

#search-results li li {
  color: #AAA;
  list-style-type: disc;
  margin-left: 8px;
  padding-left: 0;
}

#search li .highlight {
  color: #A2BCD7;
}

#search li li .highlight {
  color: #7B90A4;
}

#search li li {
  line-height: 1.1;
  padding-bottom: 2px;
}

#search a:active {
  border: 0;
  outline: none;
}

#search a:focus {
  border: 0;
  outline: none;
}

#search > ul > li.hover,
#search > ul > li:hover {
  background: #555;
  background: rgba(255, 255, 255, .2);
}

#search > ul > li.hover li,
#search > ul > li:hover li {
  color: #B5B5B5;
}

.ie #search {
  width: 258px;
}

.ie #search > ul {
  margin-right: 0;
  width: 250px;
}

.ie7 #search > ul li a {
  display: block;
  overflow: hidden;
}

.no-results {
  padding: 10px 0 0 12px;
}

#flat_search > form > input[type="text"] {
  border: 1px solid #CCC;
  padding: 5px;
  font-size: 110%;
}

#flat_search #results > h3 {
  font-size: 120%;
}

#flat_search #results > ul {
  margin-left: 0;
  font-size: 110%;
}

#flat_search #results > ul > li {
  list-style-type: none;
  margin-left: 0;
}

#flat_search #results > ul > li > ul {
  margin-left: 20px;
  margin-top: 5px;
}

#flat_search #results > ul .highlight {
  background-color: #FFFF3D;
}
/******************************************************************************\
    Mobile Menu
\******************************************************************************/

#mobile-menu {
  background: #fff;
  min-height: 100%;
  opacity: .9;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transition: width 0.5s;
  -webkit-transition: width 0.5s; /* Safari */
  z-index: 10000;
  width: 0;
}

#mobile-menu.slide-out {
  width: 250px;
}

#mobile-menu h3,
#mobile-menu h4,
#mobile-menu h5,
#mobile-menu li label {
  font-weight: normal;
  margin: 0;
  padding: 10px 15px;
}


#mobile-menu h4 {
  font-size: 16px;
}

#mobile-menu .fa-car {
  font-size: 14px;
}

#mobile-menu .icon {
  display: inline-block;
  width: 23px;
}

#mobile-menu li table,
#mobile-menu li#parking-key a {
  border-bottom: none;
  display: block;
  padding: 0 15px 10px;
}

#mobile-menu .close-icon,
#mobile-menu .parking-toggle {
  margin: -2px -5px 0;
  opacity: 0.7;
  padding: 5px;
  cursor: pointer;
}

#mobile-menu-trigger {
  color: #000;
  float: right;
  margin: 22px 17px 0;
  text-decoration: none;
}

#mobile-menu-trigger span {
  font-size: 18px;
}

#mobile-menu-trigger i {
    font-size: 1.5em;
}

#mobile-menu ul {
  margin: 0;
  padding: 0;
  width: 250px;
}

#mobile-menu li.header {
  background-color: #666;
  color: #fff;
  height: 50px;
}

#mobile-menu li.header h3 {
  padding: 13px 15px;
}

#mobile-menu li {
  border-bottom: solid 1px #ddd;
  cursor: pointer;
  font-size: 18px;
  list-style: none;
}

#mobile-menu .menu-highlight {
  color: #CC9900;
}

#mobile-menu .link-menu-item a {
  color: #000;
}

#mobile-menu .fa-chevron-right {
  color: #000;
  margin-top: .3em;
}

#mobile-menu ul li ul li {
  background-color: #F8F8F8;
  color: #555;
  font-size: 16px;
}

#mobile-menu ul li ul {
  border-top: solid 1px #F1F1F1;
}

#mobile-menu ul li ul li ul li ul li {
  background-color: #EBEBEB;
}

/* overide old css */
#mobile-menu li label {
  display: block;
}

#mobile-menu li label:hover {
  background: none;
}

/******************************************************************************\
    Menu
\******************************************************************************/

#menu {
  margin: 4px 5px 0 0;
  width: 230px;
  color: #333;
  overflow: hidden;
  position: relative;
}

#menu-body {
  overflow: hidden;
  padding: 0 0 5px 0;
  border-radius: 2px;
  border: 1px solid #3b3b39;
  border: 1px solid rgba(0, 0, 0, 0.6);
  background: #fafaf9;
  background: rgba(255, 255, 255, 0.6);
}

.safari #menu {
  margin-top: 0;
}
/* menu header */

#menu-header {
  position: relative;
  overflow: hidden;
  height: 22px;
}

#menu-icons {
  position: absolute;
  top: 1px;
  right: 15px;
}

#menu-icons a {
  display: block;
  float: left;
  height: 20px;
  width: 20px;
  margin-left: 4px;
  text-indent: -50px;
  overflow: hidden;
  background-color: transparent;
  background-position: center;
}

#menu-icons a:hover {
  background-position: 0 -1px;
}

#menu-icons #email {
  background-image: url('img/icon-mail.png');
}

#menu-icons #print {
  background-image: url('img/icon-print.png');
}

#menu h2 {
  font-size: 13px;
  line-height: 22px;
  margin: 0;
  padding: 0 0 0 6px;
  color: white;
  text-align: left;
}

#menu h2 a {
  display: block;
  float: left;
  position: relative;
  color: white;
}

#menu h2 a span {
  display: block;
  float: left;
  background: black;
  padding: 0 3px;
}

#menu h2 a .l {
  padding: 0;
  width: 12px;
  height: 22px;
  overflow: hidden;
  background: url('img/menu-tabs.png');
}

#menu h2 a .r {
  padding: 0;
  width: 16px;
  height: 22px;
  overflow: hidden;
  background: url('img/menu-tabs.png');
  background-position: 0 -22px;
}

#menu .gap {
  height: 22px;
  width: 145px;
  float: left;
  background: #626262;
  background: rgba(0, 0, 0, .5);
  border-top-right-radius: 3px;
}

#menu #tab-two {
  display: none;
}

#menu #tab-two .l {
  background-position: 0 -44px;
  width: 16px;
}

#menu #tab-one.off span {
  background: #626262;
  background: rgba(0, 0, 0, .5);
}

#menu #tab-one.off .l {
  background: url('img/menu-tabs.png');
  background-position: 0 -66px;
}

#menu #tab-one.off .r {
  display: none;
}

#menu #tab-two.off span {
  background: #626262;
  background: rgba(0, 0, 0, .5);
}

#menu #tab-two.off .l {
  display: none;
}

#menu #tab-two.off .r {
  background: url('img/menu-tabs.png');
  background-position: 0 -88px;
}
/* Check template for more IE fixes */

.ie #menu #tab-one.off span {
  background: transparent;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#7F000000', endColorstr='#7F000000');
}

.ie #menu #tab-two.off span {
  background: transparent;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#7F000000', endColorstr='#7F000000');
  zoom: 1;
}

.ie #menu .gap {
  background: transparent;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#7F000000', endColorstr='#7F000000');
  zoom: 1;
}
/* menu body items */

#menu h3 {
  margin: 0;
  padding: 4px 0;
  font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  clear: both;
  font-size: 13px;
}

#menu h4.inline {
  display: inline-block;

}

#menu h4.inline:after {
  content: ": ";
}


#menu .item {
  background: white;
  background: rgba(255, 255, 255, .8);
  padding: 5px;
  margin: 0 0 6px 0;
  display: block;
  border: 1px solid #aaa;
  border: 1px solid rgba(170, 170, 170, .5);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-size: 12px;
}

#menu a.item {
  text-decoration: none;
  color: black;
  background-image: url('img/arrow-grey.png');
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
}

#menu a.item:hover {
  border: 1px solid #6688cc;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.20);
}

.ie #menu a.item:hover {
  border-color: #6688cc;
  color: black;
}

#menu label {
  display: block;
  float: left;
  min-width: 98px;
  font-size: 12px;
}

#menu .item img {
  width: 100%;
}

#menu .item h2 {
  font-weight: bold;
  color: black;
  font-size: 14px;
  letter-spacing: 0;
  padding: 3px 0 6px;
  line-height: 1.2;
}

#menu .item h3 {
  margin: 0;
  padding: 0 0 4px 0;
}

.item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item input[type='text'] {
  width: 196px;
}

.item ul li {
  font-size: 11px;
  list-style: none;
  padding-bottom: 4px;
}

.item ul li a {
  border-bottom: 0;
  line-height: 11px;
}

.item ul li a:hover {
  text-decoration: underline;
}

#menu-wrap {
  height: auto;
  position:absolute;
  right: -300px;
  top: 27px;
}

#menu-window {
  width: 2000px;
  position: relative;
}

#menu .slide {
  padding: 8px 8px 0 8px;
  width: 214px;
  float: left;
  position: relative;
}

#menu #menu-stage {
  padding-bottom: 0;
}

#menu .load {
  color: #5981B7;
  padding: 20px;
  background-image: url('img/spinner.gif');
  background-repeat: no-repeat;
  background-position: center 50px;
  height: 150px;
}

#menu #menu-stage-next {
  min-height: 50px;
  width: 0px;
  overflow: hidden;
}

#menu-screen {
  display: none;
}

#menu-screen:hover {
  cursor: pointer;
}

#menu-hide {
  display: block;
  height: 12px;
  width: 230px;
  z-index: 11;
  position: relative;
  margin-top: -7px;
  clear: both;
  background: url('img/menu-collapse.png') top center no-repeat transparent;
}

#menu-hide:hover {
  cursor: pointer;
}

.closed #menu #menu-window {
  display: none;
}

.closed #menu-hide {
  background-position: center -12px;
}

.closed #menu #menu-screen {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 230px;
  z-index: 10;
}

#menu #permalink {
  display: inline-block;
  background: transparent url('img/menu-link.png') top right no-repeat;
  padding-right: 18px;
  padding-top: 1px;
}

.ie7 #menu #permalink {
  padding-right: 0;
  background: none;
  display: block;
}

#menu-1 #layers {
  margin-bottom: 20px;
  padding-bottom: 40px;
}

#menu .more-menu {
  padding: 0 0 4px;
  font-size: 11px;
  position: absolute;
  width: 230px;
  height: 15px;
  overflow: hidden;
  bottom: 0;
  left: 0;
}

#menu .more-menu span {
  display: block;
  width: 104px;
  padding: 0 5px;
  float: left;
}

#menu .more-menu a {
  color: black;
  display: block;
  width: 104px;
  padding: 0 5px;
  height: 15px;
  float: left;
}

#menu .more-menu a.next {
  text-align: right;
}

#menu .more-menu a:hover {
  color: #C30202;
}

#parking-key table {
  margin: 0;
  padding: 0;
}

#parking-key thead {
  display: none;
}

#parking-key td {
  border: 0;
  margin: 0;
  padding: 3px 4px;
}

#parking-key td div {
  height: 14px;
  width: 14px;
  overflow: hidden;
  text-indent: 100px;
}

#parking-key td img {
  width: 20px !important;
  height: 20px;
}

#shuttle-info p {
  font-size: 12px;
}

#menu .emergency-options div h4 {
  margin-top: 12px;
  margin-bottom: 2px;
}

#menu .emergency-options div.first h4 {
  margin-top: 6px;
}

#menu .emergency-options div a {
  font-size: 13px;
}

#menu .emergency-options .emergency-contacts-heading {
  padding-top: 10px;
}

#menu .emergency-options .emergency-phones-wrapper label {
  min-width: 75px;
}

#menu .emergency-options .emergency-aeds-wrapper label {
  min-width: 50px;
}

#mobile-menu .emergency-resources {
  padding-bottom: 35px;
}

#mobile-menu .emergency-resources h6 {
  padding: 10px 15px 5px 15px;
}

#mobile-menu .emergency-resources a {
  padding: 6px 0px;
  margin: 0 15px;
}

#call911,
#menu #call911,
#mobile-menu #call911 {
  display:inline-block;
  border: 1px solid black;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
  text-decoration:none;
  background: #FF0707;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F00), to(#9F0000));
  background: -moz-linear-gradient(top,  #F00,  #9F0000);
  margin-bottom:5px;
  padding: 8px 10px;
  width: 185px;
  vertical-align: baseline;
}

#call911 .fa-phone {
  font-size: 17px;
  float: right;
}

#mobile-menu .icon.marker {
  padding-left: 15px;
  padding-bottom: 3px;
}

#mobile-menu .icon.marker.aed {
  padding-bottom: 4px;
}

#mobile-menu .icon.marker,
#mobile-menu .icon.marker img {
  vertical-align: middle;
}

#mobile-menu .key > div {
  padding-bottom: 10px;
}

/******************************************************************************\
    Black google map infobox
\******************************************************************************/

.infoBox {
  background: url('img/infobox-tip.png') no-repeat bottom left;
  color: white;
  margin-bottom: 10px;
  padding-bottom: 13px;
}

.iBox {
  background: black;
  background: rgba(0, 0, 0, .71);
  border-radius: 5px;
  font-size: 14px;
  padding: 8px;
  width: 100%;
}

.iBox a {
  color: white;
  display:block;
  text-decoration: none;
  padding-right: 10px;
}

.iBox a:hover {
  text-decoration: underline;
}

a.iclose {
  color: #000;
  float: right;
  border-radius: 50%;
  padding: 0;
  font-size: 14px;
  font-weight: 100;
  height: 16px;
  width: 16px;
  line-height: 16px;
  background: url('close-x.png') no-repeat 50% 50%;
  background-color: #ccc;
  background-size: 50%;
}

a.iclose:hover {
  background-color: #AFAFAF;
  text-decoration: none;
}



#testBox {
  position:absolute;
  top:0; left:-1500px;
  display:inline;
}

.ie .iBox {
  background: transparent;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#B4000000', endColorstr='#B4000000');
  zoom: 1;
}

/******************************************************************************\
    Weather (width is set in template tag)
\******************************************************************************/

#weather {
  position: absolute;
  top: 6px;
  right: 23px;
  z-index: 2;
}

#map #weather {
  top: 23px;
}

#weather div {
  background-repeat: no-repeat;
}

.ie8 #weather .navweatherimage {
  background: transparent !important;
}

#weather .navweatherimage {
  width: 34px;
  overflow: hidden;
  display: block;
  height: 34px;
  float: right;
}

#weather .description {
  color: #666;
  padding: 8px 40px 0 0;
  text-align: right;
}

#weather .description a {
  color: #666;
}

#weather .description span {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

#weather .description abbr {
  border: 0;
}

#weather .floatleft {
  white-space: nowrap;
  font-size: 11px;
}
/******************************************************************************\
    Regional Campuses
\******************************************************************************/

#regional-campuses .rc {
  float: left;
  width: 28%;
  padding-bottom: 18px;
}

#regional-campuses .rc h3 {
  margin: 0;
  padding: 4px 0;
}

#regional-campuses .rc a:hover img {
  cursor: pointer;
}

#regional-campuses .rc p {
  margin: 0;
  padding: 2px 0;
}

#regional-campuses .rc img {
  width: 220px;
  height: 122px;
}

#regional-campuses .rc-clear {
  clear: both;
}
/******************************************************************************\
    Misc back pages
\******************************************************************************/

.pdf {
  display: inline-block;
  line-height: 18px;
  background: url(img/document-pdf-text.png) right top no-repeat;
  padding: 0 20px 5px 0;
  overflow: hidden;
}

.printable {
  display: inline-block;
  margin-right: 60px;
}

.printable h3 {
  clear: both;
  padding: 20px 0 10px;
  margin: 0;
  font-size: 18px;
}

#directions h3 {
  font-size: 18px;
  padding: 10px 0 0;
  margin: 0;
}

#directions p {
  margin-top: 10px;
  margin-bottom: 5px;
}

#directions .routes p {
  padding-left: 15px;
}

#directions .routes h4 {
  margin-bottom: 0;
  margin-top: 20px;
  font-weight: bold;
}
/******************************************************************************\
    Header Fixes
\******************************************************************************/

#UCFHBHeader label {
  border: 0;
}

#UCFHBHeader label:hover {
  background: none;
}

.ie #UCFHBHeader #UCFHBsubmit {
  vertical-align: middle;
}

.ie7 #UCFHBHeader #UCFHBsubmit {
  margin-bottom: 4px;
}

.ie #UCFHBHeader #q {
  margin: 0;
  padding: 0;
  line-height: 1;
  height: auto;
  zoom: 1;
}

/******************************************************************************\
    Alt Media
\******************************************************************************/

@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none;
  }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after {
    content: " (" attr(href) ")";
  }
  abbr:after {
    content: " (" attr(title) ")";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
  }
  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
/******************************************************************************\
    Widget Instructions
\******************************************************************************/

#widget_instructions #customize form {
  background-color: #f1f1f1;
  padding: 15px;
  width: 430px;
  border-radius: 2px
}

#widget_instructions .field {
  margin-bottom: 15px;
  clear: left;
}

#widget_instructions label {
  font-size: 18px;
  width: 100px;
  display: block;
  float: left;
  border: none;
}

#widget_instructions input[type="text"] {
  border: 1px solid #b1b1b1;
  padding: 5px;
  font-size: 16px;
}

#widget_instructions select {
  font-size: 11px;
  position: relative;
  top: 5px;
}

#widget_instructions input[type="checkbox"] {
  position: relative;
  top: 8px;
}

#widget_instructions #widget_height,
#widget_instructions #widget_width,
#widget_instructions #widget_zoom {
  width: 50px;
  text-align: right;
}

#widget_instructions #widget_buildings {
  margin-left: 106px;
}

#widget_instructions #widget_buildings p {
  clear: both;
  margin-top: 5px;
}

#widget_instructions button[type="submit"] {
  background-color: #0F7322;
  float: right;
  color: #FFF;
  border: 1px solid #f7f7f7;
  padding: 7px;
  font-size: 14px;
  background: -moz-linear-gradient(top, #0F7322, rgba(15, 115, 34, .7));
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#0F732200', endColorstr='#0F732207');
}

#widget_instructions #preview {
  margin-top: 55px;
}

#widget_instructions #embed_code textarea {
  width: 825px;
  border: 1px solid #CCC;
  height: 125px;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 20px;
}

#widget_instructions .error {
  padding: 10px;
  background: #FBE3E4;
  color: #8a1f11;
  border: 1px solid #FBC2C4;
  margin-bottom: 5px;
}
