/******************************************************************************\
    Admin View
\******************************************************************************/

#header a,
#header a:link, 
#header a:visited { color:#FAD46A; }
#header { padding:0 0 2px 0; color:white; background:black url('img/admin_gradient.png') repeat-x bottom left; }
#header h1 {color:white; display:inline; }
#user-tools { display:inline; }
.dashboard #container { background:url('img/admin_bg.png') repeat-x top; }
#branding { margin:8px 0; padding:0 10px; }
#changelist table thead th:first-child {width:auto; }

.two-col { position:relative; zoom:1; }
.two-col .left { width:60%; float:left; overflow:hidden; }
.two-col .right { width:39%; float:right; }
.clear {clear:both; height:1px; font-size:1px; overflow:hidden; }

#slide .right { border:1px solid #ccc; }
#slide .vLargeTextField, 
#slide .vXMLLargeTextField { width:98%; }
#preview { padding:1em; }
#preview h2 { margin:0; padding:0 0 .5em 0; }

code { font-weight:bold;color:#21759B;  }
