/******************************************************************************\
    General Styles
\******************************************************************************/
html { background:black; }
body { background:white url(img/gradient.png) repeat-x; min-width:974px; }

a { 
	color:#990000;
	-moz-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear; }
a:hover { cursor:pointer; color:#C30202; }
a:active, a:focus { outline:0; }

h1 { font-family:"Adobe Caslon Pro", "Adobe Caslon", "Caslon Pro", caslon, georgia, serif;}
h1 a { text-decoration:none; color:black; }
h1 a:hover { color:#D10020; }
h2 { font-size:23px; color:#FF7700; font-family: 'Helvetica Neue Light', 'Helvetica Light', 'HelveticaLight', 'Helvetica-Light', "Helvetica Neue", Helvetica; font-weight:200; letter-spacing:1px; margin:5px 0 10px; }
h3 { font-family: Helvetica, sans-serif; }
h3 a { text-decoration:none; }
h4 { font-family: "Trebuchet MS", sans-serif; }

label { padding:3px; vertical-align:baseline; border-radius:2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; 
	border:1px solid white; border:1px solid rgba(255,255,255,0);  }
label.disabled { color:#555; }
label.disabled:hover { cursor:default; color:#555; }
label:hover { cursor:pointer; color:white; }
label:not([class]):hover{
	border: 1px solid rgb(103, 138, 199);
	background:#6688cc;
	background: -moz-linear-gradient(center top , rgb(109, 138, 204), rgb(123, 152, 217));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(109, 138, 204)), to(rgb(123, 152, 217)));
	border-radius:3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35); -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35); -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35); 
}
.ie label:hover { background:#7a97d8; border: 1px solid #6688cc; }
.ie label.disabled:hover{ background:none; border:1px solid white; }
.ie label input { margin:0; width:12px; vertical-align:middle; }
.ie7 label input { padding-left:0; }
input:active, input:focus { outline:0; }

code { font-weight:bold; color:#21759B; }
code a { color:#21759B; text-decoration:none; border-bottom:1px dotted #7DA4C2; }
code a:hover { border-bottom:1px solid #7DA4C2; color:#21759B; }

ul li a { text-decoration:none; border-bottom:1px dotted #CE353B; line-height:1.5; }
a.button { vertical-align:middle; text-decoration:none; color:#333; font-size:12px; background:white; padding:2px 4px; margin:0 0 0 2px; border:1px solid #aaa; border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }

/******************************************************************************\
    Layout
\******************************************************************************/
#wrap { width:932px; padding:18px 9px 36px; margin:0 auto; clear:both; }

.left { display:block; float:left; width:50%; text-align:left; }
.right { display:block; float:right; width:50%; text-align:right; }
.clear { clear:both; overflow:hidden; height:0; }
.ie6 .clear { height:1px; font-size:1px; }


header { width:932px; padding:0 9px; margin:0 auto; position:relative; }
header h1 { font-weight:normal; border-bottom:1px dotted black; padding-bottom:10px; margin:20px 0 10px; font-size:28px; }
nav ol { list-style:none; margin:0; color:#6d6e71; padding:0;  }
nav ol li { display:inline-block; float:left; margin-right:10px; }
nav ol li:after { content:"\2022"; margin-left:5px; }
nav ol li.last:after{ content:""; margin-left:0; }
nav ol li a { font-family: Georgia, Times, serif; margin-right:5px; color:#333; font-size:16px; text-decoration: none; font-weight: normal; }
nav ol li a:hover {  color:#ed1c24;  text-decoration: underline; }

#map { padding:0 17px 17px; position:relative; min-width:556px; }
#map header { margin:0; padding:0 0 3px 0; overflow:hidden; display:block; width:100%; position:relative; min-width:59px; }
#map header h1 { border:0; padding:0 0 0 4px; }
.ie #map * { zoom:1; }
footer { background:black; margin:0; padding:8px 18px; color:white; display:block; overflow:hidden; clear:both; }
footer a { color:white; text-decoration:none; border-bottom:1px dotted black; }
footer a:hover { color:white; border-bottom:1px dotted #C30202; }
footer .wrap { width:932px; padding:9px; margin:0 auto; clear:both; }
footer dl { margin:0; padding:0; color:white; }
footer dt { color:#ff6d02; font-style:italic; font-weight:normal; padding-top:12px; margin:0; }
footer dt:first-of-type { padding-top:0; }
footer dd { padding:8px 0 0 8px; margin:0; }

#logo { text-align:left; text-indent:-500px; display:block; width:150px; height:75px; background:url('img/logo.png') no-repeat; float:right; overflow:hidden; margin:12px 0; border-bottom:0; }


/******************************************************************************\
    Google Map
\******************************************************************************/
#map-canvas { min-width:450px; min-height:505px; }
#canvas-wrap { border:1px solid #aaa; }
#maptypes { margin-top:0 !important; border-width:0 1px 1px 1px; border-style:solid; border-color:#aaa; background:white; }
#maptypes div { border:0 !important; }
#maptypes > div + div { border-left:1px solid #aaa !important; }
#maptypes > div { padding-top:4px; padding-bottom:4px; }


/******************************************************************************\
    Organizations and Location
\******************************************************************************/
#locations h2 a { color:#FF7700; text-decoration:none; border-bottom:1px dotted #FFAF6B; }
#locations h2 a:hover { color:#F30; border-bottom:1px solid #FF6748; }
#profile ul li { padding-bottom:10px; }
#profile ul.grey { color:#A0A0A0; }
#profile ul.grey li { padding-bottom:4px; }
#profile ul.grey li a { border-bottom:1px dotted #A0A0A0; }
#profile ul.grey li a:hover { border-bottom:1px dotted #C30202; }
#profile p { line-height:1.4; }
#profile h2 { font-size:28px; text-transform:uppercase; padding-bottom:10px; }
#profile h2 span { display:block; font-weight:10px; color:#919191; font-weight:bold; font-size:16px; line-height:18px; text-transform:capitalize; letter-spacing:0; }
#profile h3 { margin-top:0; }
#profile-image { padding-bottom:15px; }
#profile-copy { padding:0 15px 15px 0; }
#cwrap  { padding:5px; position:relative; height:300px; width:100%; -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px; -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px; background-color: white; -moz-border-radius: 5px; -webkit-border-radius: 5x; border-radius:5px;  }
.ie #cwrap { border:1px solid #CCC; }
#canvas { width:100%; height:300px; }

/******************************************************************************\
    Search
\******************************************************************************/
#search {
	box-shadow:rgba(0, 0, 0, 0.5) 0px 0px 8px; -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 8px; 
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 8px; 
	-moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius:6px;
	padding:6px; background:black; color:white; text-transform:uppercase; font-size:11px; position:relative;  }
#search input { 
	outline:0; float:left; width:180px; border:0; padding:3px; margin:0; line-height:14px;
	-webkit-appearance: textfield; -webkit-rtl-ordering: logical; -webkit-user-select: text; }
#search a { float:left; display:block; color:white; height:14px; padding:3px 20px 0 6px; background:url('img/arrow.png') no-repeat right 1px; }
#search a:hover { text-decoration:underline; }
#search > ul { 
	-moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius:6px;
	-moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius:6px;
	padding:7px 0 8px 0; margin:0 10px 0 0; position:absolute; top:30px; left:5px;
	background:black; background: rgba(0, 0, 0, 0.8); width:253px; }
.ie #search > ul { background:transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC000000',endColorstr='#CC000000'); zoom: 1; }
#search > ul li { margin:0; padding:0; list-style:none; height:auto; }
#search > ul li a { float:none; display:block; height:auto; background:none; padding:3px 8px 3px 12px; text-decoration:none; border-bottom:0; line-height:1.1; }
#search > ul > li { padding:3px 0; border-left:2px solid transparent; }
#search > ul > li.hover,
#search > ul > li:hover { 
	border-left:2px solid #FFC907;
	/* http://www.colorzilla.com/gradient-editor/#000000+0,131313+99&1+0,1+50,0+100;Custom */
	background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(10,10,10,1) 50%, rgba(19,19,19,0.02) 99%, rgba(19,19,19,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(50%,rgba(10,10,10,1)), color-stop(99%,rgba(19,19,19,0.02)), color-stop(100%,rgba(19,19,19,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(10,10,10,1) 50%,rgba(19,19,19,0.02) 99%,rgba(19,19,19,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(10,10,10,1) 50%,rgba(19,19,19,0.02) 99%,rgba(19,19,19,0) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(10,10,10,1) 50%,rgba(19,19,19,0.02) 99%,rgba(19,19,19,0) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00131313',GradientType=1 ); /* IE6-9 */
	background: linear-gradient(left, rgba(0,0,0,1) 0%,rgba(10,10,10,1) 50%,rgba(19,19,19,0.02) 99%,rgba(19,19,19,0) 100%); /* W3C */
}
#search > ul li > ul {margin:0 0 0 28px;}
#search > ul li > ul > li {color: #AAA;list-style-type:disc;margin-left:4px;}
#search li .highlight {color: #A2BCD7;}
#search li li .highlight {color: #7B90A4;}
#search li li { line-height:1.1; padding-bottom:2px; }
/*#search > ul li .highlight {color: #f2b520;}*/
#search a:active { border:0; outline:none; }
#search a:focus { border:0; outline:none; }
.ie #search { width:258px; }
.ie #search > ul { margin-right:0; width:250px }
.ie6 #search { width:255px;  }
.ie7 #search > ul li a { display:block; overflow:hidden; }
.no-results { padding:10px 0 0 12px; }


/******************************************************************************\
    Menu
\******************************************************************************/
#menu { 
	color:#333; overflow:hidden; position:relative;
	border-radius:2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
	box-shadow:2px 2px 3px rgba(0, 0, 0, 0.25); -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25); 
	width:230px; margin:2px 5px 0 0; padding:0 0 6px 0; border:1px solid #3b3b39; border:1px solid rgba(0,0,0,0.6); background: rgb(255, 255, 255); background: rgba(255, 255, 255, 0.6); }
.ie #menu { margin-top:0; }
.safari #menu { margin-top:0; }
#menu h2 { margin:0; padding:0; color:white; text-align: left; line-height:13px; height:13px; }
#menu h2 a {
	position:absolute; top:0; left:0; z-index:4;
	color:white; font-family:"Helvetica Neue", helvetica; font-weight:bold; font-size:11.5px; margin:0; letter-spacing:.5px; letter-spacing:1px;
	display:inline-block; padding:6px 18px 7px 6px; background:url('img/menu-arrow.png') top right no-repeat; }
#menu h2 a.inactive { background-position:right -26px; font-weight:normal; }
#menu h3 { margin:0; padding:4px 0; font-family:helvetica; clear:both; font-size:13px;  }
#menu .item { background:white; background: rgba(255, 255, 255, .8); padding:5px; margin:0 0 6px 0; display:block; border:1px solid #aaa; border:1px solid rgba(170, 170, 170, .5);  border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#menu .load { background-image:url('img/spinner.gif'); background-repeat:no-repeat; background-position:center 25px; }
#menu a.item { text-decoration:none; color:black; background-image:url('img/arrow-grey.png'); background-repeat:no-repeat; background-position:right center; cursor:pointer; }
#menu a.item:hover { border:1px solid #6688cc; box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35); -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.20); -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.20); }
.ie #menu a.item:hover { border-color:#6688cc; color:black; }
#menu label { display:block; float:left; min-width:98px; font-size:12px; }
#item-desc { min-height:120px; }
#item-desc img { width:100%; }
#item-desc h2 { display:none; }

#menu-wrap { position:absolute; top:-5000px; }
#menu-header { position:relative; overflow:hidden; height:26px; background: #7d7d7b; background:rgba(1,1,1, 0.5); }
#menu #menu-label-main  { z-index:5; width:37px; }
#menu #menu-label-stage { z-index:4; }
#menu-pages { position:absolute; top:2px; right:0; }
#menu-pages a { display:block; float:left; width:20px; height:20px; background:transparent url('img/menu-dots.png') 0 -20px; text-indent:-50px; overflow:hidden; }
#menu-pages a.active, #menu-pages a.active:hover { background-position:0 0; }
#menu-pages a:hover { background-position: 0 -40px; }
#menu-icons { position:absolute; top:28px; right:0; }
#menu-icons a { display:block; float:left; background:green; height:20px; width:24px; background: transparent url('img/menu-icons.png'); text-indent:-50px; overflow:hidden; }
#menu-icons #email:hover { background-position:0 -1px; }
#menu-icons #permalink { background-position:-25px 0;}
#menu-icons #permalink:hover { background-position:-25px -1px; }


#menu-window { width:2000px; position:relative; margin-left:-246px;  }
#menu .slide { padding:8px 8px 23px 8px; width:214px; float:left; position:relative; }
#menu #menu-stage-next { min-height:50px; width:0px; overflow:hidden; }
#menu-screen { display:none; }
#menu-screen:hover { cursor:pointer; }
#menu-hide { display:block; height:12px; width:232px; z-index:11; position:relative; margin-top:-7px; clear:both; background:url('img/menu-collapse.png') top center no-repeat transparent; }
#menu-hide:hover { cursor:pointer; }

.closed #menu #menu-window { display:none; }
.closed #menu-hide { background-position:center -12px; }
.closed #menu #menu-screen { display:block; position:absolute; top:0; left:0; height:30px; width:230px; z-index:10; }

#menu .more-menu { padding:0 0 4px; font-size:11px; position:absolute; width:230px; height:15px; overflow:hidden; bottom:0; left:0; }
#menu .more-menu span { display:block; width:104px; padding:0 5px; float:left; }
#menu .more-menu a { color:black; display:block; width:104px; padding:0 5px; height:15px; float:left; }
#menu .more-menu a.next { text-align:right; }
#menu .more-menu a:hover { color:#C30202; }

.info-window h2 { font-weight:bold; }
.info-window h3 { margin:0; padding:0; }
.info-window ul { list-style:none; margin:0; padding:0; }
.info-window ul li { font-size:11px; list-style:none; padding-bottom:4px; }
.info-window ul li a { border-bottom:0; line-height:11px;  }
.info-window ul li a:hover { border-bottom:1px dotted; }

.infoBox  { background:url('img/infobox-tip.png') no-repeat bottom left; color:white; padding-bottom:13px; }
.iBox     { 
	-moz-border-radius: 5px; -webkit-border-radius:3px; border-radius:3px; padding:3px; max-width:250px;
	background: black; background: rgba(0,0,0,.71); padding:5px; text-align:center; font-weight:bold; } 
#testBox { position:absolute; top:0; left:-1500px; display:inline; }
.ie .iBox { background:transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#B4000000',endColorstr='#B4000000'); zoom: 1; }


/******************************************************************************\
    Weather (width is set in template tag)
\******************************************************************************/
#weather { position:absolute; top:0; right:0; }
#map #weather { top:19px; }
#weather div { background-repeat:no-repeat; }
.ie8 #weather .navweatherimage { background:transparent !important; }
#weather .navweatherimage { width:61px; overflow:hidden; display:block; height:34px; float:left; }
#weather .discription { position:absolute; left:35px; top:12px; color:#666; }
#weather .discription a { color:#666; }
#weather .discription span { font-size:18px; font-weight:bold; color:black; }
#weather .discription abbr { border:0; }


/******************************************************************************\
    Regional Campuses
\******************************************************************************/
#regional-campuses .rc { float:left; width:28%; padding-bottom:18px; }
#regional-campuses .rc h3 { margin:0; padding:4px 0; }
#regional-campuses .rc a:hover img { cursor:pointer; }
#regional-campuses .rc p { margin:0; padding:2px 0; }
#regional-campuses .rc img { -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px; -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px; background-color: white; -moz-border-radius: 5px; -webkit-border-radius: 5x; border-radius:5px; padding:5px; }
#regional-campuses .rc a:hover img { -webkit-box-shadow: rgba(255, 109, 3, 0.3) 0px 0px 6px; -moz-box-shadow: rgba(255, 109, 3, 0.3) 0px 0px 6px; }
.ie #regional-campuses .rc img { border:1px solid #ccc;  }
#regional-campuses .rc-clear { clear:both; }



/******************************************************************************\
    Misc back pages
\******************************************************************************/
.pdf { display:inline-block; line-height:18px; background:url(img/document-pdf-text.png) right top no-repeat; padding:0 20px 5px 0; overflow:hidden; }
#printable h3 { clear:both; padding:20px 0 10px; margin:0; font-size:18px; }



/******************************************************************************\
    Header Fixes
\******************************************************************************/
#UCFHBHeader label { border:0; }
#UCFHBHeader label:hover { background:none; }
.ie #UCFHBHeader #UCFHBsubmit { vertical-align:middle; }
.ie7 #UCFHBHeader #UCFHBsubmit { margin-bottom:4px; }
.ie #UCFHBHeader #q { margin:0; padding:0; line-height:1; height:auto; zoom:1; }

/*
#UCFHBHeader { line-height:1; }
#UCFHBHeader select { margin:0; padding:0; }
#UCFHBHeader input.text { margin:0; padding:0;}
#UCFHBHeader a { border-bottom:none; }
#UCFHBHeader #UCFHBSearch_ucf input.submit { margin-top:1px; }
.ie #UCFHBHeader #UCFHBSearch_ucf input.submit { margin-top:3px; }
*/



/******************************************************************************\
    Alt Media
\******************************************************************************/
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; } 
  a, a:visited { color: #444 !important; text-decoration: underline; } 
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }   
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}


@media handheld {
	* {
		float: none;       /* Screens are not big enough to account for floats */
		font-size: 80%;    /* Slightly reducing font size to reduce need to scroll */
		background: #fff;  /*  As much contrast as possible */
		color: #000;
	}
}