/******************************************************************************\
    General Styles
\******************************************************************************/
html { background:black; }
body { background:white url(img/gradient.png) repeat-x; }

a { color:#990000; }
a:hover { cursor:pointer; color:#C30202; }

h1 { font-family:"Adobe Caslon Pro", "Adobe Caslon", "Caslon Pro", caslon, georgia, serif;}
h1 a {text-decoration:none; color:black; }
h1 a:hover { color:black; }
h2 { font-size:23px; color:#FF7700; font-family: "Arial Black", arial, sans-serif; margin:0 0 .5em; }
h3 { font-family: "Arial Black", arial, sans-serif; }
h3 a { text-decoration:none; }
h4 { font-family: "Trebuchet MS", sans-serif; }


/******************************************************************************\
    Layout
\******************************************************************************/
#wrap { width:950px; padding:18px 0 32px; margin:0 auto; clear:both; }

.col { padding-left:1em; }
.clear { clear:both; height:1px; font-size:1px; overflow:hidden; }

header { width:950px; margin:0 auto; padding-bottom:1em; }
header h1 { font-weight:normal; border-bottom:1px dotted black; padding-bottom:10px; margin:20px 0 10px; font-size:28px; }
nav ol { list-style:none; margin:0; color:#6d6e71; padding:0;  }
nav ol li { display:inline-block; float:left; margin-right:10px; }
nav ol li:after { content:"\2022"; margin-left:5px; }
nav ol li.last:after{ content:""; margin-left:0; }
nav ol li a { font-family: Georgia, Times, serif; margin-right:5px; color:#333; font-size:16px; text-decoration: none; font-weight: normal; }
nav ol li a:hover {  color:#ed1c24;  text-decoration: underline; }

#map { padding:0 17px; position:relative; min-width:556px; }
#map header { margin:0; padding:0 0 3px 0; overflow:hidden; display:block; width:100%; position:relative; min-width:59px; }
#map header h1 { border:0; padding:0 0 0 4px; }
#map-foot { padding:6px 0; text-align:right; display:block; overflow:hidden; }
.ie #map * { zoom:1; }
footer { background:black; margin:0; padding:8px; text-align:right; color:white; display:block; overflow:hidden; }


/******************************************************************************\
    Google Map
\******************************************************************************/
#map-canvas { min-width:450px; }
#canvas-wrap { border:1px solid #aaa; }
#maptypes { margin-top:0 !important; border-width:0 1px 1px 1px; border-style:solid; border-color:#aaa; background:white; }
#maptypes div { border:0 !important; }
#maptypes > div + div { border-left:1px solid #aaa !important; }
#maptypes > div { padding-top:4px; padding-bottom:4px; }
#search {
	box-shadow:rgba(0, 0, 0, 0.5) 0px 0px 8px; -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 8px; 
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 8px; 
	-moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius:6px;
	padding:6px; background:black; color:white; text-transform:uppercase; font-size:11px; position:relative;  }
#search input { 
	outline:0; float:left; width:180px; border:0; padding:3px; margin:0;
	-webkit-appearance: textfield; -webkit-rtl-ordering: logical; -webkit-user-select: text; }
#search a { float:left; display:block; color:white; height:14px; padding:3px 20px 0 6px; background:url('img/arrow.png') no-repeat right 1px; }

#menu { 
	box-shadow:rgba(0, 0, 0, 0.2) 0px 0px 3px; -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px; 
	width:200px; margin:-4px 6px 0 0; border:1px solid #aaa; background: rgb(255, 255, 255); background: rgba(255, 255, 255, 0.6); }
#menu .body { padding:8px 8px 10px 8px; }
#menu h2 { margin:0; padding:6px; 
	background: #aaa; background:rgba(170, 170, 170, .5); 
	font-size:13px; text-transform:uppercase; font-weight:normal; color:black; text-align:center; font-family:helvetica; }
#menu h3 { margin:0; padding:4px 0; font-weight:normal; font-family:helvetica; }
#menu .item { background: rgba(255, 255, 255, .7); 
	padding:5px; margin:0 0 6px 0; display:block;
	border:1px solid #aaa; border:1px solid rgba(170, 170, 170, .5); 
	border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#menu a.item { color:black; background-image:url('img/arrow-grey.png'); background-repeat:no-repeat; background-position:right center; cursor:pointer; }
#menu a.item:hover { border:1px solid #aaa; }
#menu label { display:block; padding:0 0 4px 8px; float:left; }
#item-desc { min-height:120px; }
#item-desc img { width:100%; }
.ie6 #search { width:255px;  }

/******************************************************************************\
    Weather
\******************************************************************************/
#weather { position:absolute; top:18px; right:0; width:185px; }
#weather .navweatherimage { width:61px; overflow:hidden; display:block; height:34px; float:left; }
#weather .discription { position:absolute; left:35px; top:12px; color:#666; }
#weather .discription a { color:#666; }
#weather .discription span { font-size:18px; font-weight:bold; color:black; }
#weather .discription abbr { border:0; }


/******************************************************************************\
    Alt Media
\******************************************************************************/
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; } 
  a, a:visited { color: #444 !important; text-decoration: underline; } 
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }   
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}


@media handheld {
	* {
		float: none;       /* Screens are not big enough to account for floats */
		font-size: 80%;    /* Slightly reducing font size to reduce need to scroll */
		background: #fff;  /*  As much contrast as possible */
		color: #000;
	}
}