<footer>

	<div class="nav">
		<a href="{% url 'campus.views.home' %}">Main Campus</a> &#8226;
		<a href="{% url 'page' 'regional-campuses' %}">UCF Connect Locations</a> &#8226;
		<a href="{% url 'campus.views.home' %}?show=college-of-medicine">College of Medicine</a> &#8226;
		<a href="{% url 'campus.views.home' %}?show=downtown">Downtown</a> &#8226;
		<a href="{% url 'campus.views.home' %}?show=rosen-college">Rosen College</a>
	</div>

	<div class="title">
		<a href="https://www.ucf.edu/">University of Central Florida</a>
	</div>

	<div class="ucf-footer-nav">
		<a class="ucf-footer-nav-link" href="https://www.ucf.edu/azindex/">
			A-Z Index</a> |

		<a class="ucf-footer-nav-link" href="https://www.ucf.edu/about-ucf/">
			About</a> |

		<a class="ucf-footer-nav-link" href="https://www.ucf.edu/contact-ucf/">
			Contact UCF</a> |

		<a class="ucf-footer-nav-link" href="https://www.ucf.edu/internet-privacy-policy/">
			Privacy Policy</a> |

		<a class="ucf-footer-nav-link" href="https://www.ucf.edu/online/">
			Online Degrees</a> |

		<a class="ucf-footer-nav-link" href="https://www.ucf.edu/pegasus/">
			Pegasus</a> |

		<a class="ucf-footer-nav-link" href="https://policies.ucf.edu/">
			Policies</a> |

		<a class="ucf-footer-nav-link" href="https://www.ucf.edu/public-records-requests/">
			Public Records</a> |

		<a class="ucf-footer-nav-link" href="https://regulations.ucf.edu/">
			Regulations</a> |

		<a class="ucf-footer-nav-link" href="https://www.ucf.edu/news/">
			UCF News</a>
	</div>

	<div class="address">
		4000 Central Florida Blvd. Orlando, Florida, 32816 | <a href="tel:4078232000">407.823.2000</a>
	</div>

	<div class="copyright">
		&copy; <a href="https://www.ucf.edu/">University of Central Florida</a>
	</div>

</footer>
